<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/main.css">
<title>Text Extractor</title>

</head>

<body>

    <div class="container">
        <div class="jumbotron text-center">
            <h2 class="mb-5 mt-5"><%= text %> </h2>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="javascripts/main.js"></script>