<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/main.css">
<title>Text Extractor</title>

</head>

<body>

    <div class="container">
        <div class="jumbotron text-center">
            <% if (text.length == 0) { %>
            <h2 class="mb-5 mt-5">Sorry we can't get any words from this image</h2>
            <% } else { %>
            <h2 class="mb-5 mt-5"><%= text %></h2>
            <% } %>
            <a type="button" href="/" class="btn btn-dark btn-lg mt-4">TRY AGAIN</a>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="javascripts/main.js"></script>