
/*
 * Globals
 */








/* Custom default button */



/*
 * Base structure
 */


body {
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  font-family:  Arial, Helvetica, sans-serif;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


.jumbotron{
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 50rem;
  margin: auto;
} 

#imageFile:focus{
  border-width: 0ch;
  border-color: black;
}
.custom-file-label:focus {
  border-color: black;
}
















/*
 * NavBar
 */


/*
 * Media
 */

@media (max-width: 480px) {
 .jumbotron{
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 20rem;
} 

}




/*
 * Footer
 */
